<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理画面</title>
    <link href="static/css/main.css" rel="stylesheet">
</head>
<script src="static/js/jquery-3.4.1.min.js"></script>
<script src="static/js/index.js"></script>

<body>
<header><h1>SmartController</h1></header>
<div class="MenuContainer">
    <input class="HiddenCheckbox" id="menu" name="menu" type="checkbox"/>
    <label class="MenuIcon" for="menu"></label>
    <h2 class="MenuHeader">Menu</h2>
    <nav class="Menu">
        <ul class="Menu-list">
            <li class="Menu-item"><a class="Menu-link" href="/" target="_self">Home</a></li>
            <li class="Menu-item"><a class="Menu-link" href="Kaden" target="_self">Kaden</a></li>
        </ul>
    </nav>
</div>
<div class="bg"></div>